@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

/* Universal Box Sizing with Inheritance~ */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* variable */
:root {
	--color-blue: blue;
	--color-dark: black;
	--color-bg: white;
	--color-bg--dark: darkgray;

	--color-link: var(--color-blue);
	--color-link-visited: #800080;
	--color-text: var(--color-dark);
	--color-text-light: darkgray;

	/* used in web components */
	--color-button-create: green;
	--color-button-create-brackground: transparent;
}

/* base font size */
html {
	font-size: 16px;
	font-family: 'IBM Plex Serif', serif;
}

@media (min-width: 90rem) {
	html {
		font-size: 20px;
	}
}

/* reset browser defaults */
h1,
h2,
h3,
h4,
h5 {
	margin-top: 0;
	margin-bottom: 1rem;
}

p {
	margin-top: 0;
}

body {
	margin: 0;
}

a,
a:visited {
	text-decoration: none;
	color: var(--color-link);
}

a:hover {
	text-decoration: underline;
}

ul {
	margin-top: 0;
}

blockquote {
	margin-top: 0;
	margin-bottom: 1rem;
	margin-left: 2rem;
	white-space: pre;
}

/* forms */
input {
	padding: 0.8rem;
}

/* flex layout */
html,
body,
.Site {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	width: 100%;
	min-height: 100vh;
}


/* horizontal dynamics */
.Container {
	width: 100%;
	max-width: 60rem;
	padding-left: 1rem;
	padding-right: 1rem;
}
.Site-header.Container {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

/* vertical dynamics */
.Section {
	margin-bottom: 1.5rem;
}

/* site theme */
.Site {
	background-color: var(--color-bg);
	flex-grow: 1;
}

.Site-header {
	margin-bottom: 2rem;
	padding-top: 0.7rem;
}

.Site-main {
	padding-bottom: 1rem;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.Site--fullscreen {
	padding-left: 0;
	padding-right: 0;
}

.Site--fullscreen,
.Site--fullscreen .Site-main,
.Site--fullscreen map-list {
	display: block;
	height: 100vh;
}

.Site--fullscreen map-list {}

.Site--fullscreen .Site-header {
	position: fixed;
	top: 0;
	/* horinztaly centered visually */
	left: 50%;
	transform: translateX(-50%);
	/* above map */
	z-index: 1000;
}

.Site--fullscreen .Site-main {
	margin-top: 0;
}

.Theme {
	opacity: 0.1;
	position: fixed;
	top: 0;
	right: 0;
	padding: 1rem;
}

.Theme:checked+.Site {
	background-color: var(--color-bg--dark);
}

/* navigation */
nav {
	display: flex;
	flex-wrap: wrap;
}

nav[role="breadcrumb"] a,
nav[role="main"] a {
	color: var(--color-link);
	background-color: var(--color-bg);
	padding: 0.1rem 0.3rem;
}

nav[role="breadcrumb"] {
	margin-bottom: 0.3rem;
}
nav[role="main"] nav-item,
nav[role="breadcrumb"] nav-item {
	text-transform: lowercase;
}
nav[role="breadcrumb"] nav-item::before {
	content: '/';
	color: lightgray;
}
nav[role="breadcrumb"] nav-item:first-child::before {
	content: '';
}

nav[role="breadcrumb"] nav-item:first-of-type a {
	text-decoration: none;
	text-transform: lowercase;
	font-style: italic;
}

nav[role="main"] {}
nav[role="main"] nav-item {
	position: relative;
	display: flex;
}

nav[role="tags"] nav-item {
	/* because hugo uses the title when taxonomy has a content page */
	text-transform: lowercase;
}

nav[role="actions"] {
	justify-content: flex-end;
}

nav-item {
	margin-right: 0.5rem;
}
nav-item[active] a,
nav[role="breadcrumb"] nav-item:last-of-type a {
	font-weight: bold;
}

/* titles */
h1 a {
	color: black;
	text-decoration: none;
}

/* details */
summary {
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	cursor: pointer;
}


summary:focus {
	outline: none;
}

details[open] summary {
	padding-bottom: 1rem;
}

/* card */
.Card {
	position: relative;
}

.Card--tag .Card-header {
	display: flex;
}

.Card-boardLink {
	word-break: break-all;
}

.Card-tags {
	display: flex;
	align-content: flex-end;
}

.Card-count {
	margin-left: 0.2rem;
}

.Card-title {
	margin-bottom: 0;
}

.Card-title:hover,
.Card-title:active {
	text-decoration: underline;
}

/* a map card */
leaflet-map {
	min-height: 17rem;
}

/* edit page link */
.EditPage {
	text-align: right;
	padding-top: 1rem;
}

/* web components */
list-items {
	display: flex;
	flex-direction: column;
	width: 100%;
}

list-items ul {
	padding: 0;
}

list-items li {
	list-style: none;
}

list-items li,
list-items list-item {
	margin-bottom: 1.5rem;
}

list-item {
	display: flex;
	flex-direction: column;
}

list-item[direction="row"] {
	flex-direction: row;
}

list-item[type="tags"]::before {
	content: "#";
	display: block;
	padding-right: 0.3rem;
}

list-items[direction="row"] ul {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;
}

list-items[direction="row"] li {
	margin-bottom: 1rem;
	margin-right: 1rem;
}

/* button groups */
button-group {
	display: flex;
}
button-group[right] {
	justify-content: flex-end;
}
button-group .Button + .Button {
	margin-left: 1rem;
}
.Button--createJob {
	color: var(--color-button-create);
	background-color: var(--color-button-create-brackground);
	text-decoration: underline;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}

/* utilities to be refactored */
.u-text-right {
	text-align: right;
}

/* algolia instantsearch */
.SearchAlgoliaLogo {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.SearchAlgoliaLogo p {
	margin-bottom: 0;
}

.SearchAlgoliaLogo a {
	text-decoration: none;
}

.SearchAlgoliaLogo svg {
	margin-left: 0.5rem;
}

.ais-search-box {
	display: flex;
	align-items: center;
}

.ais-search-box--reset-wrapper,
.ais-search-box--magnifier-wrapper {
	display: none !important;
}

.ais-search-box--input {
	width: 100%;
}

.ais-pagination {
	display: flex;
	flex-wrap: wrap;
}

.ais-pagination--link {
	padding: 1rem;
}

.ais-pagination--link {
	text-decoration: none;
}

.ais-pagination--item__active a {
	font-weight: bold;
	color: var(--color-text);
	text-decoration: underline;
}

.ais-pagination--item__disabled {
	color: var(--color-text-light)
}

.ais-hits--item {
	display: flex;
}

.ais-pagination--item__next,
.ais-pagination--item__previous {
	display: none;
}
