{{ define "main" }}

<section class="Section">
	<header>{{.Content}}</header>
	{{ partial "nav-model-actions.html" (dict "site" .Site "model" .Type) }}
</section>

{{ $companies := (sort (where .Site.RegularPages "Section" "companies") "Params.created_at" "desc") }}
{{ if (gt (len $companies) 0) }}
<section class="Section">
	{{ partial "list-companies.html" $companies }}
</section>
{{ end }}

{{ end }}
