{{ define "main" }}

{{ $companies := (where .Site.RegularPages "Section" "companies") }}

<!-- <section class="Section">
		 <details open>
		 <summary>
		 Featured Jobs
		 </summary>
		 <joblistcity-featured-jobs tag="berlin"></joblistcity-featured-jobs>
		 </details>
		 </section> -->

<section class="Section">
	<details open>
		<summary>
			All Jobs
		</summary>
		<p>Companies for which the open job positions can be automatically retrieved are listed here.</p>
		{{ partial "list-companies-jobs" $companies }}
	</details>
</section>

{{ end }}
