{{ define "main" }}

{{ with .Content}}
<section class="Section">
	{{.}}
</section>
{{ end }}

{{ $featuredSection := "companies" }}
{{ $allCompanies := (where .Site.RegularPages "Section" $featuredSection) }}
{{ $companies := (first 4 (sort $allCompanies "Params.created_at" "desc")) }}

{{ if (isset .Site.Params "featured_taxonomies") }}
<section class="Section">
	<details open>
		<summary>
			Featured tags
		</summary>
		{{ partial "list-taxonomies-featured" . }}
	</details>
</section>
{{ end }}

<section class="Section">
	<details open>
		<summary>
			Featured Jobs
		</summary>
		<joblistcity-featured-jobs tag="berlin"></joblistcity-featured-jobs>
	</details>
</section>

{{ if (gt (len $companies) 0) }}
<section class="Section">
	<details open>
		<summary>
			Latest ({{ (len $companies) }}) {{ $featuredSection }}
		</summary>
		{{ partial "list-companies-jobs.html" $companies }}
	</details>
</section>
{{ end }}

<section class="Section u-text-right">
	Explore all <a href="/companies">{{ (len $allCompanies) }} {{ $featuredSection }}</a>.
</section>

{{ end }}
