<article class="Card">
  <header class="Card-header">
		<h1 class="Card-title">
	    <a href="{{ .Permalink }}">
				{{.Title}}
	    </a>
		</h1>
  </header>

	<aside class="Card-aside">
		<a
			class="Card-boardLink"
			href="{{ .Params.job_board_url }}"
			target="_blank"
			rel="noopener noreferrer"
		>{{ .Params.job_board_url }}</a>
	</aside>

  <main class="Card-content">
		{{ if .Params.body }}
		<div>{{.Params.body }}</div>
		{{else}}
		{{ .Content}}
		{{ end }}

		{{ if (.GetTerms "tags") }}
		<aside class="Card-tags">
			<nav role="tags">
				<nav-item>
					<i>Tags:</i>
				</nav-item>
				{{ range (.GetTerms "tags") }}
				<nav-item>
					<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
				</nav-item>
				{{ end }}
			</nav>
		</aside>
		{{ end }}
  </main>
</article>
