{{ $site := . }}
{{ $data := $site.Data }}

<list-items direction="row">
  <ul>
		{{ range $key, $value := $site.Data.Terms.ByCount  }}
		{{ $tagUrl := (delimit (slice $site.LanguagePrefix $data.Plural $value.Name) "/") | urlize }}

		<li class="ListItem">
			{{ partial "tag-card-popular" (dict "name" $value.Name "url" $tagUrl "count" $value.Count) }}
		</li>
		{{ end }}
  </ul>
</list-items>
