{{ define "main" }}

<section class="Section">
	<h2>Create a new job</h2>
	<job-create></job-create>
</section>

<script type="module">
	const urlParams = new URLSearchParams(window.location.search)
	const jobId = urlParams.get('id')

	if (jobId) {
		let $jobCard = document.querySelector('job-card')
		$jobCard.setAttribute('job-id', jobId)
	}
</script>

{{ end }}
